<!DOCTYPE html>
<head>
  <title>Know About your pet</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <style>
    .container {
      display: flex;
    }

    .result {
      border: 1px solid black;
      padding: 10px;
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Know your pet</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter an animal you want to pet" required />
    <input type="submit" value="know more about your pet" />
  </form>
  <div class="container">
    {% if names %}
    <div class="result">
      <h4>Suggested Names for your {{ animal }}  :</h4>
      <ul>
        {% for name in names.split(',') %}
        <li>{{ name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if foods %}
    <div class="result">
      <h4>Foods {{ animal }} Likes:</h4>
      <ul>
        {% for food in foods.split(',') %}
        <li>{{ food }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="result">
      <h4>Some Popular Breeds of {{ animal }}:</h4>
      <ul>
        {% for breed in breeds.split(',') %}
        <li>{{ breed }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  {% if tips %}
  <div class="container">
    <div class="result">
      <h4>Tips for Growing a {{ animal }}:</h4>
      <ul>
        {% for tip in tips.split('  ') %}
        <li>{{ tip }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</body>
